<h1>Consultants一覧</h1>

<ul>
<% @consultants.each_with_index do |consultant, i| %>
  <li><%= consultant.name%>　/　<%= @consultant_nicknames[i] %></li>
<% end%>
</ul>

<%= link_to "to users", users_path %>